<h2 id="feedback">Feedback ✍</h2>
<p>
    Got feedback or suggestion? Please send at
    <!-- fsdvwqs -->feed<!-- asdzxcwqe -->back<!-- zndoasdifg -->.<!-- dsafasdf  -->deaf.<!-- bncjdhsatuy -->group<!-- hajsddfe  -->@<!-- fasdfadsff  -->skiff<!-- ncbuadr  -->.<!-- vnaduyeghn  -->com
    or create issue/pull requests on <a href="https://github.com/deaf-group/resources.deaf.group">our GitHub repository</a>.
</p>
<h2 id="disclaimer">Disclaimer ℹ</h2>
<p>
    While every effort has been made to ensure the accuracy of the information provided, we cannot guarantee that all details are entirely current or error-free.
    It's advisable to cross-verify critical information independently from reliable sources.
    This resource serves as a reference and should not be solely relied upon for making decisions of significant consequence.
</p>
<!-- Top Page -->
<a href="#" id="back-to-top" class="back-to-top" style="display: inline;">Top</a>
<!-- Fades in button when scroll down page -->
<script>
  var link = document.getElementById("back-to-top");
  var amountScrolled = 250;

  window.addEventListener('scroll', function(e) {
      if ( window.pageYOffset > amountScrolled ) {
          link.classList.add('show');
      } else {
          link.className = 'back-to-top';
      }
  });  
<!-- Scrolls to Top -->
  link.addEventListener('click', function(e) {
      e.preventDefault();

      var distance = 0 - window.pageYOffset;
      var increments = distance/(500/16);
      function animateScroll() {
          window.scrollBy(0, increments);
          if (window.pageYOffset <= document.body.offsetTop) {
              clearInterval(runAnimation);
          }
      };
      // Loop the animation function
      var runAnimation = setInterval(animateScroll, 16);
  });
</script>